# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Testing
.coverage
.tox/
.pytest_cache/

# Logs
*.log

# IDE
.vscode/
.idea/
